<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

  <% const pageLabel="Home Page" ; %>

  <%- include('./partials/nav.ejs') %>

  <h1>
    <%= pageLabel %>
  </h1>

</body>

</html>