<!DOCTYPE html>
<html lang="en">
  
  <%- include('../partials/head.ejs') %>
  
<body>
  
  <h1>NodeJs Learning</h1>

  <%- include('../partials/nav.ejs') %>

  <h2>Detailed Blog Page</h2>

  <div id="detailedBlog">
    <% if (blog) { %>
  
        <%- include('./blog.ejs', { isDetailedBlog: true }) %>

    <% } else { %>

      <h3>Empty..</h3>
  
    <% } %>
  </div>

  <%- include('../partials/scripts.ejs') %>

</body>

</html>