<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

  <%- include('./partials/topHeader.ejs') %>

  <%- include('./partials/nav.ejs') %>

  <h1>
    OOPS, Page not found
  </h1>

</body>

</html>