<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs'); %>

<body>

  <%- include('../partials/topHeader.ejs'); %>

  <form id="signupForm" class="authForm">
    <h1>Sign Up Form</h1>
    <div class="field">
      <label for="email_inp">E-mail address:</label>
      <input type="email" name="email" id="email_inp">
    </div>
    <div class="field">
      <label for="password_inp">Password:</label>
      <input type="password" name="password" id="password_inp">
    </div>
    <div class="button">
      <button type="submit">SUBMIT</button>
    </div>
  </form>

  <%- include('../partials/scripts.ejs'); %>

</body>

</html>