<% let titles={"/": "Home" , "/about" : "About" , "/blogs" : "Blogs" , "/blog/:id" : "Detailed Blog" , "/blogs/new"
  : "New Blog" , "/login" : "Login" , "/signup" : "Sign Up" } %>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NodeJS Learning | <%= titles[path] || pageTitle %>
  </title>
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">

  <link rel="stylesheet" href="/css/main.css">
</head>