<div class="topHeader">
  <h1>NodeJS Learning</h1>
  <div class="authButtons">
    <a href="/login" class="login"><i class="fa-solid fa-arrow-right-to-bracket"></i> LOGIN</a>
    <a href="#" class="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> LOGOUT</a>
    <a href="/signup" class="signup"><i class="fa-solid fa-user-plus"></i> SIGN UP</a>
  </div>
</div>