<div class="topHeader">
  <h1>NodeJS Learning</h1>
  <div class="authButtons">
    <% if (user) { %>
      <span><%= user.email %></span>
      <a href="/logout" class="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> LOGOUT</a>
    <% } else { %>
      <% if (path === "/login") { %>
        <a href="/signup" class="signup"><i class="fa-solid fa-user-plus"></i> SIGN UP</a>
        <% } else if (path === "/signup") { %>
          <a href="/login" class="login"><i class="fa-solid fa-arrow-right-to-bracket"></i> LOGIN</a>
        <% } else { %>
          <a href="/signup" class="signup"><i class="fa-solid fa-user-plus"></i> SIGN UP</a>
          <a href="/login" class="login"><i class="fa-solid fa-arrow-right-to-bracket"></i> LOGIN</a>
        <% } %>
    <% } %>
  </div>
</div>